<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Go Ventas</title>
	{% load static %}
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	{% block style %}
    {% endblock %}
</head>
<body>
	<div class="content-body">
    	<div class="container">
	        <div class="row">
	        	<div class="col-xxl-12 col-xl-12">
					<div class="card">
						<div class="card-header">
							{% include "goVentasTabs.html" %}
						</div>
						 <div class="card-body">
							<div class="row">
								<div class="col-xxl-12 col-xl-12">
									{% block content %}
									{% endblock content %}
								</div>
							</div>
						</div>
					</div>
	        	</div>
	        </div>
	    </div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>